# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Outputs
outputs/*.png
outputs/*.csv
outputs/*.json
outputs/*.pkl
outputs/*.joblib

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
